.hr-box {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.MainContainer {
  border-radius: 12px;
  border: 10px solid #7fd8e6;
  background-color: #ddf2f5;
}

.zero {
  background-color: yellow;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 10px;
  border: 10px solid #7fd8e6;
  border-radius: 12px;
  background-color: #ddf2f5;
  width: 1200px;
  margin: auto;
  height: 400px;
}

.counter-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 19%;
}

.cart-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 11%;
  padding: 2p;
}


.cart-item {
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 1px solid #ddd;
}
